<section>
  <a href="/new-post">Create New Post</a>

{{#if posts.length}}
<section>
  <ol>
    {{#each posts as |post|}}
    <li>
        <div class="title">
        <a href="/dashboard/edit/{{id}}">{{title}}</a>
        <span>posted by {{user.username}} on {{format_date created_at}}</span>
      </div>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
